<header>
    <a class="logo" href="/"><img src="../../assets/img/header.png" alt="logo" height="50"></a>
          <nav class="nav">
              <ul class="nav__links" >
                  <li><a href="#">Service</a></li>
                  <li><a href="#">Find a Dealer</a></li>
                  <li><a href="#">Racing</a></li>
                  <li><a href="#">About</a></li>
              </ul>
          </nav>
          <a class="  cta" href="#">KTM World</a>
          <div class="barcontainer menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
  </header>
  <div id="mobile__menu" class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="#">Service</a>
        <a href="#">Find a Dealer</a>
        <a href="#">Racing</a>
        <a href="#">About</a>
        <a href="#">KTM World</a>
    </div>
</div>