/* Base Color */
/* #FF6600 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color:white;
    border-bottom-right-radius:50px;
    border-bottom-left-radius:50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 50px -20px, rgba(0, 0, 0, 0.3) 0px 20px 30px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  }
  .barcontainer{

cursor: pointer;
direction: rtl;
display: none !important;
}

.bar1,.bar2,.bar3{
    width: 35px;
    height: 6px;
    border-radius: 25px;
    background: #FF6600;
    margin: 6px 0;
    transition: 0.4s;
    
}
.bar2{
    width: 25px !important;
}


.logo {
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat";
    font-weight: bolder;
    color: black;
    text-decoration: none;
    
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #FF6600;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #FF6600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: darkorange;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Mobile Nav */



.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #FF6600;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    color:  white;
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
  .overlay a:focus {
      color: black;
    }
    .overlay .close {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #ffffff;
        cursor: pointer;
    }
    
    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px;
        }
        .overlay .close {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
    
    @media only screen and (max-width: 800px) {

        header {
            
            border-bottom-right-radius:25px;
            border-bottom-left-radius:25px;
            
          }
        
        .barcontainer {
            display: inline-block !important;
        }
        .bar1,.bar2,.bar3{
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
        .barcontainer:active{
           opacity: 0.5;
        }
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  