<div class="container  w-100">
    <div class="card duke390 p-4">
        <div class="bike">
            <div class="circle"></div>
            <img src="../../assets/img/dukeOrange.png" alt="duke" *ngIf="orangeImage; else elseblock">
            <ng-template #elseblock>
                <img src="../../assets/img/dukeWhite.png" alt="duke" >

            </ng-template>
        </div>
        <div class="info">
            <h1 class="title text-center mt-3">390 DUKE</h1>
            <h3>Light as a feather, powerful and packed with state-of-the-art technology,
                   it guarantees a thrilling ride, whether you're fighting your way through the urban jungle 
                   or carving your name into a forest of bends.</h3>
            <div class="sizes">
                <button class="orange" (click)="orange()">Orange</button>
                <button class="white" (click)="white()">White</button>
                
            </div>
            <div class="d-flex justify-content-center">
                <div class="purchase w-50 ">
                    <button>Purchase</button>
                </div>
            </div>
            
        </div>
    </div>
</div>