* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  }
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  
  .card {
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  .card:hover ~ body{
    filter: blur(2px);
  -webkit-filter: blur(2px);
  }
  
  .bike {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bike img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  .circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  .title {
    font-family: "Anton";
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: bolder;
  }
  
  .info h1 {
    font-size: 3rem;
    transition: all 0.75s ease-out;
  }
  .info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }
  .sizes {
    display: flex;
    justify-content: space-evenly;
    transition: all 0.75s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    outline: none;
  }
  .sizes button.orange{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      background-color: #FF6600;
      color: white;
      font-family: "Ubuntu";
  }
  .sizes button.orange:hover{
    border: 1px solid white;
    box-shadow: 0px 2px 0 #FF6600, 2px 4px 6px #e02a24;
    text-shadow: -1px -1px 0 #c2211c;
  }
  .sizes button.orange:active{
    text-shadow:none;
    border: 1px solid #FF6600;
    background-color: #f89e01;
    box-shadow:none;
    
  }
  .sizes button.white{

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    color: #FF6600;
    font-family: "Ubuntu";
}
  .sizes button.white:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: -1px -1px 0 #c2211c;
  }
  .sizes button.white:active{
    text-shadow:none;
    box-shadow:none;
    background-color:#f9fafa;
  }
  button.active {
    background: #585858;
    color: white;
  }


  .purchase {
    font-family: "Ubuntu";
    margin-top: 5rem;
    transition: all 0.75s ease-out;
  }
  .purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
  }
  